* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  background-color: rgba(
    11,
    10,
    10,
    0.783
  ); /* Adding background color to the grid container */
  grid-template-columns: 10% 70% 19%;
  grid-gap: 2px; /* Gap between grid items */
  padding: 10px;
  height: auto;
  width: 90%;
  margin: 12px auto;
  border-radius: 13px;
  color: aliceblue;
}

.grid-item {
  background-color: #141414e0; /* Adding background color to the grid items */
  border: 1px solid gray;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  height: 550px;
}

/* =================================== side bar styling  ================================================*/
#sidebar {
  border-radius: 12px 0px 0px 12px;
}

.icons-container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align icons vertically */
}

#sidebar i {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 10px; /* Add spacing between icons */
  margin-top: 30px;
}

#right {
  border-radius: 0px 12px 12px 0px;
}

#middle {
  display: grid;
  grid-template-rows: 7% 25% 45% 23%;
}

/* ============== structureing midd-children ===================*/
.middle-child {
  background-color: rgb(27, 25, 25);
  border-bottom: 0.23px solid rgb(128, 123, 123);
  text-align: left;
  text-decoration: wavy;
}

.middle-child p {
  font-size: 0.8rem;
}
#top-middle {
  display: flex;
  align-items: center;
}

#top-middle input {
  /* margin: 6px auto; */
  height: 26px;
  width: 60%;
  border-radius: 12px;
  background-color: rgb(84, 76, 76);
  color: #fff;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: 23px;
  text-align: center;
  font-size: 11px;
}

.notification {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}

.notification span {
  margin-left: 12px;
}

.notification select {
  margin-left: 11px;
  border-radius: 5px 5px 5px 5px;
  height: 21px;
  width: 11em;
  font-size: 13px;
  outline: none;
  text-align: center;
  background-color: rgb(84, 76, 76);
  color: rgb(204, 200, 200);
}
.photo-icon {
  margin-left: 8px;
}
#top-middle input::placeholder {
  color: rgb(204, 200, 200);
}

.notification {
  color: white;
  display: inline;
}
/* styling right div */

#right p {
  font-size: 0.8rem;
  margin-top: 4px;
}

#close {
  height: 33px;
  border-bottom: 0.23px solid rgb(128, 123, 123);
}
